<section class="container modal_home">
    <div class="row">
        <div class="col col-md-4 profile">
            <div class="mt-4">
                <img src="{{ base_path }}/{{ active_theme_path() }}/images/misc/m_cuenta.png" alt="">
                <hr>
                <h2>Mi Cuenta</h2>
            </div>
        </div>
        <div class="col col-md-8 user_data">
            <div>
                <div class="col col-md-8 user_data">
                    <h3>¡BIENVENIDO!</h3>
                </div>
                <div class="col col-md-4">
                    <p>Usuario: <b>Jhon Doe</b></p>
                </div>
                <div class="col col-md-4">
                <p>Teléfono: <b>300 555 5555</b></p>
                </div>
                <div class="col col-md-12">
                    <div class="triada">
                        <div><span>Puntos</span><div>35</div></div>
                        <div><span>Puntos<br>por vencer</span><div></div></div>
                        <div><span>Reservas</span><div>02</div></div>
                    </div>
                </div>
                <!--<div class="info_left">
                    <h4>Historial</h4>
                    <ul>
                        <li>Bogotá - Medellín [12 OCT -2018]</li>
                        <li>Medellín - Bogotá [16 OCT -2018]</li>
                        <li>Bogotá - Cali [2 NOV -2018]</li>
                    </ul>
                    <a href="#"> 
                        <button class="btn btn--secondary">Ver todo</button>
                    </a>
                </div>-->
            </div>
        </div>
    </div>
</section>