<div class="wrapper mt-5 container-fluid">
    <div class="w-100">
        <div class="wrapper__container col mt-4" style="margin-bottom: 20px;">
            <div class="container mx-auto">
            <div class="col-12">
                <div class="row">
                <div class="col-md-12">
                <h1 class="title with-underline">Línea Amable</h1>
                <p>
                    <span style="font-size:11pt">
                        <span style="line-height:107%">
                            <span style="font-family:Calibri,sans-serif">
                                <span style="font-size:12.0pt"><span style="line-height:107%; font-size: 0.7em;">
                                    <span style="font-family:&quot;Verdana&quot;,sans-serif">Comunicarse con <b>Expreso Bolivariano</b> Ahora es mas facil!. 
                                        <br>
                                        Queremos llevar tu felicidad en todo momento, por eso te invitamos a comunicarte con nuestra línea Amable en la cual puedes encontrar:
                                        <ul class="orange-dots">
                                            <li>Información de rutas, horarios, y servicios.</li>
                                            <li>Ofertas y descuentos exclusivos*</li>
                                            <li>Reserva y compra tiquetes fácil, rápido y sin congestiones.</li>
                                            <li>Servicio de entrega de tiquetes a domicilio **</li>
                                        </ul>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                    <span style="font-size:11pt">
                        <span style="line-height:107%">
                            <span style="font-family:Calibri,sans-serif">
                                <span style="font-size:12.0pt">
                                    <span style="line-height:107%">
                                        <span style="font-family:&quot;Verdana&quot;,sans-serif">* Servicio a domicilio: Válido inicialmente en la ciudad de Bogotá. Para la entrega a domicilio el cliente asumirá el costo del envío. Aplican condiciones de cubrimiento.
                                            <br/>
                                            **Pregunta por la promoción del día con nuestros asesores de servicio.
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </p>
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container-fluid list bg-light-blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>En Bogotá: 4249090</li>
                            <li>En Medellín: 6042295</li>
                            <li>En Cali: 4855796</li>
                            <li>En Pereira: 3401044</li>
                            <li>En Aipe: 8398243</li>
                            <li>En Armenia: 7359678</li>
                            <li>En Barranquilla: 3852166</li>
                            <li>En Bucaramanga: 6970763</li>
                            <li>En Buenaventura: 2978194</li>
                            <li>En Buga: 2391795</li>
                            <li>En Cajicá: 8837139</li>
                            <li>En Cartagena: 6930781</li>
                            <li>En Cúcuta: 5949790</li>
                            <li>En Facatativá: 8902897</li>
                            <li>En Girardot: 8889795</li>
                            <li>En Ibagué: 2770598</li>
                        </ul>
                    </div>
                    <div class="col-md-6 align-items-center justify-content-center">
                        <ul>
                            <li>En Manizales: 8918799</li>
                            <li>En Montería: 7897415</li>
                            <li>En Neiva: 8630407</li>
                            <li>En Palmira: 2879072</li>
                            <li>En Pasto: 7370696</li>
                            <li>En Popayán: 8368295</li>
                            <li>En Riviera: 8388242</li>
                            <li>En Sabana Bogotá: 7442766</li>
                            <li>En Santa Marta: 4358394</li>
                            <li>En Sincelejo: 2762397</li>
                            <li>En Sopó: 8713752</li>
                            <li>En Tuluá: 2359862</li>
                            <li>En Tunja: 7470830</li>
                            <li>En Valledupar: 5894092</li>
                            <li>En Villavicencio: 6849896</li>
                            <li>En Zipaquirá: 8826996</li>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <ul><li>Lima (Perú)(511)-6284512</li></ul>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="wrapper__container col mt-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12">
                        <p><b>Peticiones, Quejas y Reclamos:</b> Si desea colocar una petición, queja o reclamo lo invitamos a llenar el formulario que se encuentra en el link a continuación.</p>
                        <div><a href="/pages/contact_external"><button class="btn dark">Crear una PQR</button></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>