<div class="container mt-4 pb-4">
    <h2 class="block-title blue mt-4">Ubicación Satelital</h2>
    <div class="col col-lg-12 mx-auto panel-shadow bg-white pb-4 mb-4">
        <div class="row">
            <div class="col-12 col-md-12 mb-2 py-5 text-center">
                <h4>Se cuenta con un sistema de GPS - Ubicación satelital con el cual se hace seguimiento 24 horas al día a la operación de los vehículos en los que viaja. Con esto controlamos la velocidad, la ruta por donde va, si existe alguna demora en la vía y garantizar que llegue seguro a su destino.</h4>
                <a href="/pages/gps"><button class="btn bg-light-blue px-5 py-2">Consultar Ubicación Satelital</button></a>
            </div>
        </div>
    </div>
</div>