<div class="wrapper__body pb-4">
    <h3 class="wrapper__lead">Contactenos</h3>
    <!--<div class="wrapper__container mb-4">
        <div class="row no-gutters">
            <div class="col col-md-12 text-gray px-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid expedita adipisci quo cum deleniti sunt labore ducimus nobis, rerum fugiat temporibus ad enim molestiae deserunt voluptates itaque corporis animi doloremque. <span class="text-blue">!No te los pierdas, compra ya tus tiquetes¡</span>
            </div>
        </div>
    </div>-->
    <div class="wrapper__container mt-5 container-fluid">
        <div class="row justify-content-around">
            <div class="col-md-5 d-flex align-items-end flex-column">
                <div class="mb-auto">
                    <h2 class="title with-underline">Contacto</h2>
                    <p class="text-justify text-gray">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus laborum deserunt repudiandae velit a sequi dolorem, ducimus minus animi et tempore suscipit quod iste? Asperiores fugiat nisi amet corrupti minima?</p>
                </div>
                <!--<div class="mb-4">
                        <img class="float-left mr-3 " src="{{ base_path }}/{{ active_theme_path() }}/images/misc/alert.png" alt="Alerta">
                    <div class="small"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aut nam nisi? Doloribus, dolore incidunt inventore porro hic magni voluptatem soluta?</p></div>
                </div>-->
            </div>
            <div class="col-md-6">
                <div class="panel panel-shadow">
                    <form action="">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 ">
                            <div class="form-group">
                                <label class="text-orange" for="">Nombre*</label>
                                <input class="input w-100 orange" type="text" placeholder="Nombre" value="Jhon Doe" required="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label class="text-orange" for="">Correo electrónico*</label>
                                <input class="input w-100 orange" type="text" placeholder="correo electrónico" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <div class="form-group">
                                <div>
                                    <label class="text-orange" for="">Comentario*</label>
                                </div>
                                <textarea class="w-100 input orange" name="" id="" cols="30" rows="10" placeholder="Escribe su comentario, duda o sugerencia."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <a href="">
                                <button class="btn w-100 dark">Enviar</button>
                            </a>
                        </div>
                    </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>