<div class="container mt-4 pb-4">
    <h2 class="block-title blue mt-4">Seguimiento de envíos</h2>
    <div class="col col-lg-12 mx-auto panel-shadow bg-white pb-4 mb-4">
        <div class="row pt-4 pb-4 justify-content-center">
            <div class="col col-lg-11 pt-4">
                <div class="row no-gutters panel seguimiento">
                    <div class="col col-lg-6">
                        <div class="row no-gutters justify-content-between">
                            <label class="col-md-5 text-right text-orange" for="">Nùmero de guìa </label>
                            <input class="col-md-6 input orange pl-2" type="text" placeholder="ingrese número de gúia">
                        </div>
                        <div class="mt-4 row no-gutters justify-content-end">
                            <button class="btn p-30 dark">Consultar guía</button>
                        </div>
                    </div>
                    <div class="col col-lg-6 bg-dark-blue text-orange">
                        <div>Punto de salida: <span>Pasto (Nariño)</span></div>
                        <div>Destino: <span>Bogotá (Bogotá D.C.)</span></div>
                        <br>
                        <div class="mt-4">Estado: <span>VIAJANDO (hora de salida 06:30 AM)</span></div>
                        <div>
                            <!-- 
                            clases de acuerdo a la ubicación
                            .salida
                            .viajando
                            .destino 
                            -->
                            <div id="seguimiento-timeline" class="viajando">
                                <hr>
                                <hr>
                                <div>
                                    <div><span>
                                        <img src="images/misc/ser-caja.png" alt="">
                                    </span>SALIDA</div>
                                    <div><span>
                                        <img src="images/misc/ser-caja.png" alt="">
                                    </span>VIAJANDO</div>
                                    <div><span>
                                        <img src="images/misc/ser-caja.png" alt="">
                                    </span>DESTINO</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>