<base href="./redemption">
<div class="col col-lg-10 mx-auto mt-4">
    <h2 class="block-title blue">Redención de Puntos Viajero Expreso</h2>
    <div class="col col-lg-12 mx-auto panel-shadow bg-white">
	 <!-- Begins Redemption Block -->
    {{ blockExpressTravelerRedemption }}
	<!-- End Redemption Block -->
    </div>
</div>
<div class="division" style="margin-top: 100px;"></div>
