<div class="wrapper__top bg-image">
    <img src="/sites/default/files/inline-images/login.jpg" alt="" class="">
    <div class="wrapper__topwrap">
        <h2 class="wrapper__title wrapper__title--cities">Confirmación Registro</h2>
    </div>
</div>
<div class="wrapper__body">
    <h3 class="wrapper__lead">Confirmación Registro</h3>
    <div class="wrapper__container col mt-4">
        <div class="container mx-auto">
            <div class="col-12">
                <h2 class="title with-underline">Cuenta Creada Correctamente</h2>
                <div class="row">
                    <div class="col-md-4">
                        <p style="text-align: center;">Se ha creado una nueva cuenta para usted <strong> {{ userName }}</strong>, le hemos enviado a su correo electrónico <strong> {{ mail }} </strong> las instrucciones para que pueda acceder al portal de Expreso Bolivariano, por favor visite su correo electrónico y siga los pasos para la activación de la cuenta.</p>
                    </div>
                    <div class="col-md-8">
                        <p>Pasos para activar su cuenta tenga en cuenta los siguientes pasos:</p>
                        <p>
                            <ul class="orange-dots">
                                <li>Ingresar a su correo electrónico.</li>
                                <li>Hacer click en el link de la activación de la cuenta que se le envio al correo electrónico.</li>
                                <li>Alli debera cambiar su contraseña.</li>
                                <li>Si no realiza el cambio de contraseña el link de activación caducara.</li>
                                <li>Disfrutar de todos los beneficios de ser Viajero Expreso de Expreso Bolivariano.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="division"></div>